# Segredos e artefatos da automacao - NUNCA versionar
.secrets.*
shinobi.config.psd1
*.vhd
*.vhdx
*.tar.gz
*.img
work/
downloads/

# Versao renderizada do cloud-init (contem senhas)
cloud-init/user-data
cloud-init/meta-data
